@color-custom_black: #000000;
@color-custom_white: #ffffff;
@color-custom_gray: #cccccc;
@color-custom_menu__items: #292c29;
@color-custom_title: #222222;
@color-custom_subtitle: #888888;
@color-custom_links: #b2a29b;
@color-custom_news: #f4f4f4;
@color-custom_border__input: #dddddd;
@color-custom_lines: #ebebeb;
@color-custom_categories: #fe9c00;
@color-custom_date: #f4f4f4;
@color-custom_description: #555555;
@color-custom_border: #eeeeee;
@color-custom_blockquote: #999999;
@color-custom_border__link: #333333;
@color-custom_header: #FFFFFFF2;
@color-custom__border-select: #c2c2c2;
@color-custom__product-attribute: #666666;
@color-custom__product-attribute-count: #7d7d7d;
@color-custom_megamenu: #777777;
@color-custom_label: #555555;
@color-custom_invisible: transparent;
