<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Custom\CustomModel\ViewModel\SubcategoryViewModel $viewModel */

$viewModel = $block->getData("viewModel");
$itemAmount = $block->getItemAmount();
$categories = $block->getCategories();
?>


<div class="subcategories-container">
    <p class="subcategories-container__title">category</p>
    <?php
    $subcats = $viewModel->getSubcategories();
    foreach ($subcats as $subcat) {
        if ($subcat->getIsActive()) {
            $subcat_url = $subcat->getUrl();
            ?>
            <div class="subcategories-container__subcat">
                <a href="<?php echo $subcat_url; ?>"><?php echo $subcat->getName(); ?>
                    <span><?php echo $subcat->getProductCollection()->Count(); ?></span>
                </a>
            </div>
            <?php
        }
    } ?>
</div>
