& when (@media-common = true) {

    .subcategories-container {
        margin-top: @indent__xs + @indent__s;
        border-bottom: 1px solid @color-custom_border;
        padding-bottom: @indent__xs + @indent__s;

        &__title {
            .lib-font-size(18px);
            letter-spacing: 1px;
            color: @color-custom_black;
            font-weight: @font-weight__semibold;
            overflow: hidden;
            position: relative;
            text-transform: uppercase;
            word-break: break-all;
            z-index: 1;
            display: block;
            text-decoration: none;
            margin: 0 0 @indent__s;
        }

        &__subcat {
            padding: @indent__s;

            a {
                .lib-link(
                    @_link-color: @color-custom__product-attribute,
                    @_link-text-decoration: none,
                    @_link-color-visited: @color-custom__product-attribute,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @color-custom__product-attribute,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @color-custom__product-attribute,
                    @_link-text-decoration-active: none
                );

                span {
                    &:before {
                        content: "(";
                        color: @color-custom__product-attribute;
                    }

                    &:after {
                        content: ")";
                        color: @color-custom__product-attribute;
                    }
                }
            }
        }
    }
}
