//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .hp_slider-products {
        .block.widget {
            .product {
                &-items {
                    .lib-vendor-prefix-display(flex);
                }
                &-item {
                    &-info {
                        display: block;
                        width: 300px;

                        .product-item-image {
                            img {
                                width: 300px;
                            }
                            a span.product-image-container{
                                width: 300px !important;
                            }
                        }

                        .product-item-details {
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-prefix-flex-direction(column);
                            .lib-vendor-box-align(center);
                            padding-top: @indent__m;
                            cursor: pointer;

                            .price-box {
                                padding-top: @indent__s + @indent__xs;
                            }

                            .product-item-inner {
                                display: block;
                            }
                        }
                    }

                    &:hover {
                        .product-item-photo-hovered {
                            opacity: 1;
                            z-index: 1;
                            visibility: visible;
                        }

                        .price-box {
                            visibility: hidden;
                        }

                        .actions-primary {
                            .tocart {
                                transform: translate(5%, 100%);
                            }
                        }
                    }
                }
            }
        }
    }

    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;
            width: 100%;

            .actions-secondary, .actions-primary{
                opacity:0;
                visibility: hidden;
                transition: visibility 0s linear 0.5s,opacity 0.5s linear;
            }

            &-info {
                .product-item-image {
                    position: relative;
                }

                .product-item-photo-hovered {
                    position: absolute;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &:hover {
                .product-item-photo-hovered {
                    opacity: 1;
                    z-index: 1;
                    visibility: visible;
                }

                .price-box {
                    display: none;
                }

                .actions-secondary {
                    a.topreview {
                        .lib-icon-font(
                            @_icon-font-content: @icon-star,
                            @_icon-font-position: before,
                            @_icon-font-size: 16px,
                            @_icon-font-margin: 10px
                        );
                    }

                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, -80%);
                    z-index: 11;
                    background: @color-custom_white;
                    padding: @indent__base @indent__xs + @indent__s;
                    opacity: 0.9;
                    transition-delay: 0s;
                    visibility: visible;

                    > .action {
                        display: block;
                    };
                }

                .actions-primary {
                    .lib-vendor-prefix-display(flex);
                    justify-content: center;
                    opacity: 1;
                    transition-delay: 0.1s;
                    visibility: visible;

                    .tocart {
                        span{
                            border-bottom: 1px solid @color-custom_title;
                            padding-bottom: @indent__s;
                        }
                        .lib-font-size(@font-size__s);
                        transform: translate(0%, 30%);
                        border-radius: 0;
                        line-height: 1;
                        padding-top: @indent__s;
                        white-space: nowrap;
                        display: inline-block;
                        background: 0 0;
                        border: none;
                        color: @color-custom_title;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }

            .products-grid & {
                display: inline-block;
                margin-left: 2%;
                width: calc(~'(100% - 2%)/1');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin-top: 0;
                word-wrap: break-word;
                text-align: center;

                a, a:visited{
                    color: @color-custom_subtitle;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: ease-in-out .3s;

                    &:hover{
                        color: #222222;
                    }
                }
            }

            &-info {
                max-width: 100%;
                width: 152px;

                .page-products &,
                .products-related &,
                .products-upsell & {
                    width: fit-content;
                }

                .details {
                    padding-top: @indent__base;
                }
            }

            &-actions {
                position: relative;
                font-size: 0;

                > * {
                    .lib-font-size(1.4rem);
                }

                .actions-secondary {
                    display: inline-block;
                    .lib-font-size(1.4rem);
                    vertical-align: middle;

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;
                        display: none;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;

                    > .stock.unavailable {
                        line-height: 1;
                        padding-bottom: @indent__s;
                        padding-right: 24px;
                        padding-top: @indent__s;
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    .lib-font-size(@font-size__s);
                    margin-top: @indent__xs;
                }
            }

            .price-box {
                margin: @indent__xs 0 @indent__m;
                text-align: center;

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .special-price{
                .price{
                    .lib-font-size(18px);
                    font-weight: @font-weight__bold;
                }
            }

            .old-price {
                margin: @indent__xs 0;
                .price-label {
                    display: none;
                }

                .price {
                    font-weight: normal;
                    text-decoration: line-through;
                    .lib-font-size(14px);
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
                display: none;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &:hover {
                    cursor: default;

                    .actions-primary {
                        display: inline-block;

                        .tocart {
                            span{
                                border-bottom: none;
                            }
                            .lib-font-size(13px);
                            display: inline-block;
                            padding: @indent__s + @indent__xs @indent__l;
                            color: @color-custom_white;
                            background: @color-custom_title;
                            transform: translate(0, 0);
                        }
                    }

                    .actions-secondary {
                        text-align: left;
                        position: static;
                        transform: none;
                        z-index: 11;
                        background: 0 0;
                        padding: 0;
                    }

                    .price-box {
                        display: block;
                    }
                }

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                    padding-top: 0;

                    .product-item-name {
                        text-align: left;
                        .lib-font-size(16px);
                        font-weight: @font-weight__bold;
                        letter-spacing: 1px;
                        margin: 0;

                        a {
                            color: @color-custom_title;
                            text-transform: capitalize;
                        }
                    }

                    .product-item-inner {
                        .product-item-description {
                            width: 75%;
                            .lib-font-size(13px);
                            line-height: 20px;
                            color: @color-custom_subtitle;
                            margin: @indent__s 0 0 0;

                            p {
                                margin-bottom: 0;
                            }

                            ul {
                                padding: @indent__s 0 0 0;

                                li {
                                    list-style-type: none;
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .price-box {
                        text-align: left;
                        padding: @indent__m 0;
                        margin: 0;

                        .price-container {
                            .price {
                                .lib-font-size(18px);
                                color: @color-custom_subtitle;
                            }
                        }

                        .special-price {
                            padding-right: @indent__xs;

                            .price-container {
                                .price {
                                    .lib-font-size(18px);
                                    color: @color-custom_subtitle;
                                }
                            }
                        }

                        .old-price {
                            .price-container {
                                .price {
                                    .lib-font-size(18px);
                                    color: @color-custom_subtitle;
                                }
                            }
                        }
                    }

                    .product-item-actions {
                        .actions-secondary, .actions-primary{
                            opacity: 1;
                            visibility: visible;
                        }

                        .actions-primary {
                            .tocart {
                                .lib-font-size(13px);
                                display: inline-block;
                                padding: @indent__s + @indent__xs @indent__l;
                                border: none;

                                &:hover {
                                    background: @color-custom_subtitle;
                                    .smooth-hover(ease-in-out .3s);
                                }

                                span {
                                    text-transform: uppercase;
                                }
                            }
                        }

                        .actions-secondary {
                            .action {
                                display: inline;
                            }

                            .towishlist {
                                padding-left: @indent__s;
                            }

                            .tocompare {
                                padding-left: @indent__m;
                            }

                            .topreview {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .hp_slider-products {
        .block.widget {
            .product {
                &-items {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column);
                }
                &-item {
                    width: 90%;
                    padding-bottom: @indent__l;
                    margin-left: 0;
                    transform: translate(35px, 0);

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &-info {
                        display: block;
                        width: 300px;

                        .product-item-image {
                            img {
                                width: 300px;
                            }

                            a span.product-image-container {
                                width: 300px !important;
                            }
                        }

                        .product-item-details {
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-prefix-flex-direction(column);
                            .lib-vendor-box-align(center);
                            padding-top: @indent__s;
                            cursor: pointer;

                            .price-box {
                                padding-top: @indent__xs;
                            }

                            .product-item-inner {
                                display: block;
                            }
                        }
                    }

                    &:hover {
                        .product-item-photo-hovered {
                            opacity: 1;
                            z-index: 1;
                            visibility: visible;
                        }

                        .price-box {
                            display: none;
                        }

                        .actions-primary {
                            .tocart {
                                transform: translate(5%, 10%);
                            }
                        }
                    }
                }
            }
        }
    }

    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }

    .product-item-actions {
        .actions-primary {
            display: block;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, @product-item__hover__box-shadow);
                border: 1px solid @color-gray-light2;
                margin: -10px;
                padding: 9px;
                position: relative;
                z-index: 9;

                .product-item-inner {
                    display: block;
                    box-shadow: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    background: 0 0;
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 10px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: inline-block;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:hover{
                box-shadow: none;
                border: none;
                margin: 0;
                padding: 0;
            }
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: calc(~'(100% - 4%) / 2');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {
        .product-item-inner {
            box-shadow: 0 0 0 0;
            margin: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: calc(~'(100% - 4%) / 4');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-1column .hp_slider-products .block.widget .products-grid .product-item {
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
    }

    .products-grid {
        .product-item {
            width: 100%/5;

            &-info:hover{
                box-shadow: none;
                border: none;
                margin: 0;
                padding: 0;
            }

            &-details{
                .product-item-inner{
                    background: 0 0;
                    border: none;
                    margin: 0;
                    box-shadow: none;
                }
            }
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 0;
                padding: 5px;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/4;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
