//
//  Variables
//  _____________________________________________

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@toolbar-element__color: @color-gray37;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            padding-top: 60px;
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
        margin-bottom: @indent__l;
        text-align: center;

        select {
            background-color: transparent;
            border-color: @color-custom_border;

            &:focus{
                box-shadow: none;
                border: 1px solid @color-custom_border;
            }

            option{
                color: @color-custom_subtitle;
            }
        }
        .sorter-action {
            position: relative;
            top: -2px;
        }
        &-amount {
            left: 0;
            margin: 0;
            padding: 7px 0;
            text-align: left;
            top: 0;
            vertical-align: middle;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid @color-custom_subtitle;
            line-height: 10px;

            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }

        .page-with-filter & {
            &-amount {
                position: static;
            }
        }

        &-products {
            .lib-css(background-color, @toolbar-background);

            .pages {
                display: none;

                .products.wrapper ~ & {
                    display: block;
                }
            }
        }

        .pages {
            margin-bottom: @indent__m;
        }
    }

    .sorter {
        float: left;

        label{
            display: none;
        }

        .page-products & {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        .products.wrapper ~ .toolbar & {
            display: none;
        }

        &-options {
            margin: 0 @indent__xs 0 7px;
            width: auto;
        }

        &-action {
            .lib-icon-font(
            @icon-arrow-up,
            @_icon-font-size: 16px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
            );
            .lib-icon-text-hide();

            &.sort-desc:before {
                content: @icon-arrow-down;
            }

            margin-top: 7px;
        }
    }

    .modes {
        display: none;
    }

    .limiter {
        &-options {
            margin: 0 5px 0 7px;
        }

        .page-products .toolbar & {
            display: none;
        }

        .control {
            display: inline-block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar-products {
        margin-bottom: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .columns {
            padding-top: 0;
            position: relative;
            z-index: 1;
        }
    }

    .toolbar-amount {
        display: block;
        float: right;
        position: static;
    }

    .toolbar {
        margin-top: 20px;

        .products.wrapper ~ & .pages {
            float: left;
            margin-bottom: 0;
        }
    }

    .modes {
        display: inline-block;
        float: left;

        .products.wrapper ~ .toolbar & {
            display: none;
        }

        .mode-grid{
            margin: 0 5px 0 0;
        }
    }

    .modes-label {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .modes-mode {
        .lib-css(background-color, @toolbar-element-background);
        .lib-css(box-shadow, @button__shadow);
        .lib-css(color, @color-custom_white);
        border-right: 0;
        float: left;
        font-weight: @font-weight__regular;
        line-height: 1;
        padding: 7px 10px;
        text-align: center;

        &:hover {
            .lib-css(color, @toolbar-element__color);
            background: @color-custom_title;
        }

        &.active {
            &:before{
              color: @color-custom_white;
            }

            background: @color-custom_title;
        }

        .lib-icon-font(
        @icon-grid,
        @_icon-font-size: @toolbar-mode-icon-font-size,
        @_icon-font-text-hide: true,
        @_icon-font-color:  @color-custom_subtitle,
        @_icon-font-color-hover:  @color-custom_white
        );
    }

    .sorter {
        .page-products & {
            position: static;
        }
    }

    .mode-list {
        &:before {
            content: @icon-list;
        }
    }

    .toolbar {
        .products.wrapper ~ & .limiter {
            display: block;
            float: left;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .limiter {
        &-options {
            width: 100% !important;
            padding: 0 20px 0 10px !important;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .sorter-options {
        margin: 0 2px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar{
        &-amount{
            width: 15%;
            float: right;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .limiter {
        &-options {
            width: 100% !important;
            padding: 0 20px 0 10px !important;
        }
    }
}
