& when (@media-common = true) {
    .post-view{
        .post-holder{
            .post-content{
                .post-description{
                    .post-category{
                        margin: 0 0 @indent__base 0;
                        color: @color-custom_blockquote;
                        .lib-font-size(16px);

                        a{
                            color: @color-custom_title;
                            background: none;
                            text-transform: capitalize;
                            padding: 0;
                            .lib-font-size(14px);

                            &:hover{
                                color: @color-custom_blockquote;
                            }
                        }
                    }

                    .post-ftimg-hld{
                        margin: 0;

                        img{
                            width: 88%;
                        }
                    }

                    .post-text-hld{
                        width: 88%;
                        margin: @indent__base 0 0 0;

                        blockquote{
                            .lib-font-size(18px);
                            color: @color-custom_blockquote;
                            line-height: 30px;
                            padding: 0 @indent__l;
                            border-left: 5px solid @color-custom_subtitle;
                            margin: @indent__xs + @indent__xs 0;
                        }
                    }
                }
            }
        }
    }
}
