@import "../_list-custom";
@import "../_view-custom";

& when (@media-common = true) {
    .hp_widget-blog{
        &__title h2{
            text-transform: uppercase;
            line-height: 0;
            color: @color-custom_title;
        }

        &__subtitle p{
            text-transform: uppercase;
            color: @color-custom_subtitle;
        }

        a{
            .lib-font-size(14px);
            text-transform: uppercase;
            color: @color-custom_title;
            line-height: 1.5;
            font-weight: @font-weight__bold;
            text-decoration: none;
        }

        .post-list-wrapper{
            .divider{
                width: 30px;
                height: 3px;
                background: @color-custom_title;
            }

            .post-list{
                width: 100%;
                .lib-vendor-prefix-display(flex);

                .post-holder{
                    margin: @indent__base @indent__base 0 0;

                    .post-header{
                        .post-title-holder {
                            .post-title {
                                margin: @indent__s 0;
                                width: 100%;

                                a {
                                    .lib-font-size(14px);
                                    color: @color-custom_title;
                                    text-transform: uppercase;
                                    font-weight: @font-weight__regular;
                                }
                            }
                        }

                        .post-info{
                            padding: 0;

                            .post-posed-date{
                                i {
                                    color: @color-custom_subtitle;
                                }

                                span{
                                    color: @color-custom_subtitle;
                                    .lib-font-size(14px);
                                    font-style: italic;
                                    margin: 0 0 0 7px;
                                }
                            }
                        }
                    }

                    .post-content{
                        margin: @indent__s + @indent__xs 0 0 0;
                        height: 45px;
                        overflow: hidden;

                        .post-description{
                            .post-text-hld{
                                p{
                                    .lib-font-size(16px);
                                    line-height: 1.5;
                                    color: @color-custom_subtitle;
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}




