<?php
/**
 * Added "Back-To-Top"-button;
 * Added "Back-To-Top"-functional;
 */
?>

<?php
/**
 * @var \Magento\Theme\Block\Html\Header $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<button class="to-top-btn" style="display: none">
    <a href="#"></a>
</button>

<script>
    require([
        'jquery'
    ], function($){
        $(window).scroll(function() {

            if ($(this).scrollTop() > 120) {
                $('.to-top-btn').fadeIn();
            } else {
                $('.to-top-btn').css({"display": "none"});
            }

        });

        $('.to-top-btn').click(function() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    });
</script>
