@import "_homepage";
@import "_layout";

//Home Page Slider Buttons
.slick-dots li button{
    border-radius: unset;
    width: 10px;
    height: 10px;
}

.slick-dots li button:hover {
    background: @color-custom_title;
}




