//Transition Mixin
.smooth-hover (@value){
    -o-transition: @value;
    -ms-transition: @value;
    -moz-transition: @value;
    -webkit-transition: @value;
    transition: @value;
}

a{
    .smooth-hover(ease-in-out .3s);
}

//Home Page Slider Main
.hp-slide__1, .hp-slide__2{
    p:nth-child(3){
        width: 78px;
        padding: 35px 0 5px 0;
        font-weight: bold;
        border-bottom: 1px solid @color-custom_title;
    }
}

//Home Page Banner Cards
.hp-card__1, .hp-card__2{
    p:nth-child(3){
        width: 78px;
        padding: 20px 0 5px 0;
        font-weight: bold;
        border-bottom: 1px solid @color-custom_title;
    }

    &:hover{
        cursor: pointer;
    }
}

//Home Page Products List Widget
.hp_widget-products{
    &__title h2{
        text-transform: uppercase;
        line-height: 0;
        color: @color-custom_title;
    }

    &__subtitle p{
        position: relative;
        text-transform: uppercase;
        color: @color-custom_subtitle;
        padding-bottom: 8px;
    }

    &__subtitle p:after{
        content: "";
        width: 30px;
        height: 3px;
        background: @color-custom_title;
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
    }

}

//Home Page Banner November Sale
.hp_banner__nov-sl{
    .smooth-hover(ease-in-out .3s);

    &:hover{
        cursor: pointer;
        filter: brightness(70%);
    }
}

// Home Page Products Widget
.hp_best-featured-most{
    &__title{
        line-height: 0;
        text-transform: uppercase;
    }
}

//Home Page Slider Brands
.hp_slider-brands {
    &__title {
        text-transform: capitalize;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    &__title:before, &__title:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '';
        background: @color-custom_lines;
        margin-left: 8px;
    }

    &__title:before {
        margin-left: -50.5%;
        text-align: right;
    }

    &__links a:hover {
        color: @color-custom_subtitle;
        text-decoration: none;
    }
}



