//Variables
@subchild-menu-item-color: @color-custom_border__input;
@subchild-menu-text-color:  @color-custom_megamenu;
@subchild-menu-title-color:  @color-custom_white;
@subchild-menu-title-decoration: @color-custom_white;
@subchild-menu-image-background: @color-custom_white;
@subchild-menu-marker-background: @color-custom_white;

//Mixin
.item-marker(
    @content: "",
    @width: 6px,
    @height: 6px,
    @background:
    @subchild-menu-marker-background,
    @position: absolute,
    @top: 30%,
    @left: -15px,
    @border-radius: 50%,
    @transition: left .25s cubic-bezier(.54,.49,0,1.75),
    @-webkit-font-smoothing: antialiased,
    @visibility: hidden
) {
    content: @content;
    width: @width;
    height: @height;
    background: @background;
    position: @position;
    top: @top;
    left: @left;
    border-radius: @border-radius;
    transition: @transition;
    -webkit-font-smoothing: @-webkit-font-smoothing;
    visibility: @visibility;
}

& when (@media-common = true) {
    .navigation {
        .megamenu-row-1 {
            &__image {
                float: left;

                img {
                    width: 20px;
                    margin-top: @indent__base;
                    background: @subchild-menu-image-background;
                    padding: @indent__s + @indent__xs;
                    border-radius: 50%;
                }
            }

            &__info{
                margin-top: @indent__l + @indent__xs;
                margin-left: @indent__l + @indent__xl;

                &_title {
                    font-size: 17px;
                    line-height: 0;
                    color: @subchild-menu-title-color;
                }

                &_text {
                    color: @subchild-menu-text-color;
                    line-height: 0;
                }
            }
        }

        .megamenu-row-2 {
            .subchild-menu-parent {
                .block-category-link {
                    margin: 0;

                    a {
                        padding: @indent__xs + @indent__s 0 @indent__l 0;
                        text-transform: uppercase;
                        font-weight: @font-weight__semibold;

                        &:after {
                            content: "";
                            position: static;
                        }

                        span {
                            color: @subchild-menu-item-color;

                            &:before {
                                .item-marker();
                            }
                        }

                        &:hover {
                            > span {
                                text-decoration: underline;
                                text-decoration-color: @subchild-menu-title-decoration;
                            }
                        }
                    }
                }

                &:hover {
                    a {
                        padding-left: @indent__base;

                        span:before {
                            visibility: visible;
                            left: 1px;
                        }
                    }
                }

                .subchild-menu {
                    .block-category-link-inline {
                        &:hover {
                            > a {
                                span {
                                    text-decoration: underline;
                                    text-decoration-color: @subchild-menu-title-decoration;

                                    &:before {
                                        visibility: visible;
                                        left: -5px;
                                        top: 35%;
                                    }
                                }
                            }
                        }

                        a {
                            padding: @indent__s 0;

                            &:after {
                                content: "";
                                position: static;
                            }

                            &:hover {
                                padding: @indent__s @indent__xs + @indent__s;
                            }

                            span {
                                color: @subchild-menu-item-color;
                                padding: @indent__s 0;

                                &:before {
                                    .item-marker();
                                }
                            }
                        }
                    }
                }
            }

            &__right-block {
                .ads-img-menu {
                    display: flex;
                    justify-content: space-between;

                    a.img-link {
                        &:hover {
                            padding-left: @indent__s + @indent__xs;
                        }

                        &:after {
                            content: "";
                            position: static;
                        }
                    }
                }
            }

            &__bottom-block {
                width: 90%;
                padding: @indent__s 0 @indent__s + @indent__xs 0;

                &_text{
                    color: @subchild-menu-text-color;
                }
            }
        }
    }
}

