<?php
/**
 * @var $block \Mirasvit\Giftr\Block\Item\Manage
 * @var $this \Magento\Framework\View\TemplateEngine\Php
 */
?>
<?php
/* @var $output Magento\Catalog\Helper\Output */
$output = $this->helper('Magento\Catalog\Helper\Output');
?>

<div class="products-grid giftr">
    <ol class="giftr-items product-items">
        <?php foreach ($block->getItemCollection() as $item): ?>
            <?php
            /** @var \Mirasvit\Giftr\Model\Item $item * */
            $item = $block->getItemById($item->getId());
            $product = $item->getProduct();
            $productName = $block->stripTags($product->getName(), null, true);
            $options = $block->getChildBlock('giftr.item.options')
                ->setItem($item)
                ->getConfiguredOptions();
            ?>
            <li class="product-item" id="item_<?php echo $item->getId() ?>">
                <div class="product-item-info">
                    <input type="hidden" name="items[<?php echo $item->getId() ?>][product_id]"
                           value="<?php echo $product->getId() ?>"/>

                    <a class="product-item-photo" href="<?php echo $product->getProductUrl() ?>" title="<?php echo $productName ?>">
                        <?php echo $block->getProductImage($item, 'wishlist_thumbnail', $options)->toHtml();?>
                    </a>

                    <strong class="product-item-name">
                        <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $productName ?>">
                            <?php echo $output->productAttribute($product, $product->getName(), 'name') ?>
                        </a>
                    </strong>

                    <div class="price-box">
                            <span id="product-price-<?php echo $product->getId() ?>" class="regular-price">
                                <?php echo $block->getPrice($product) ?>
                            </span>
                    </div>

                    <div class="product-item-inner">
                        <fieldset class="fieldset">
                            <div class="field comment-box">
                                <label for="product-item-comment-<?php echo $item->getId() ?>" class="label"><span><?php echo __('Comment') ?></span></label>
                                <div class="control">
                                    <textarea name="items[<?php echo $item->getId() ?>][note]" id="product-item-comment-<?php echo $item->getId() ?>"
                                              placeholder="<?php echo __('Add your notes here...') ?>"
                                              class="product-item-comment"><?php echo $item->getNote() ?></textarea>
                                </div>
                            </div>

                            <div class="field priority">
                                <label style="display:none" for="priority" class="label"><span><?php echo __('Priority:') ?></span></label>
                                <div class="control">
                                    <?php echo $this->helper('Mirasvit\Giftr\Helper\Block')->getPriorityHtmlSelect($item->getPriorityId(),
                                        'items['.$item->getId().'][priority_id]')->toHtml() ?>
                                </div>
                            </div>

                            <div class="field box-tocart">
                                <fieldset class="fieldset">
                                    <div class="field qty">
                                        <label for="item_qty_<?php echo $item->getId() ?>" class="label"><span><?php echo __('Desired Qty:') ?></span></label>
                                        <div class="control">
                                            <input type="text" name="items[<?php echo $item->getId() ?>][qty]"
                                                   id="item_qty_<?php echo $item->getId() ?>" maxlength="12"
                                                   value="<?php echo $item->getQty() ?>" title="<?php echo __('Qty') ?>"
                                                   class="input-text qty validate-greater-than-zero" />
                                        </div>
                                    </div>

                                    <?php /*if ($block->isComplete($item)): */?><!--
                                        <div class="msg"><h4><?php /*echo __('Complete') */?></h4></div>-->
                                    <?php if (!$item->isSalable()): ?>
                                        <div class="msg">
                                            <h4 class="availability out-of-stock">
                                                <span><?php echo __('Out Of Stock') ?></span>
                                            </h4>
                                        </div>
                                    <?php else: ?>
                                        <div class="product-item-actions">
                                            <div class="actions-primary">
                                                <button type="button" title="<?php echo __('Add to Cart') ?>"
                                                        class="action tocart primary"
                                                        data-bind="click: addToCart.bind($data, '<?php echo $item->getId() ?>');">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            </div>
                                        </div>
                                    <?php endif ?>
                                </fieldset>
                            </div>

                            <div class="field qty qty-received">
                                <label class="label" for="qty_received_<?php echo $item->getId() ?>"><span><?php echo __('Invoiced/Received Qty:') ?></span></label>
                                <div class="control">
                                    <?php echo $item->getQtyOrdered().'/' ?>
                                    <input type="text" id="qty_received_<?php echo $item->getId() ?>" name="items[<?php echo $item->getId() ?>][qty_received]"
                                           value="<?php echo $item->getQtyReceived() ?>"
                                           class="input-text validate-zero-or-greater"/>
                                </div>
                            </div>
                        </fieldset>

                        <div class="product-item-actions">
                            <?php echo $block->getChildHtml('giftr.item.options', false) ?>

                            <!--<a class="action edit" href="<?php /*echo $block->getUpdateUrl($item->getId()) */?>">
                                <span><?php /*echo __('Edit') */?></span>
                            </a>-->

                            <a href="#" class="btn-remove action delete"
                               data-bind="click: removeItem.bind($data, <?php echo $item->getId() ?>)">
                                <span><?php echo __('Remove') ?></span>
                            </a>
                        </div>

                    </div>
                </div>
            </li>
        <?php endforeach ?>
    </ol>
</div>
