& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;
        float: right;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-icon-font(
                @_icon-font-content: @icon-search,
                @_icon-font-size: 14px,
                @_icon-font-line-height: 20px,
                @_icon-font-color: @color-custom_title,
                @_icon-font-text-hide: true
            );

            &.active {
                + .control {
                    input {
                        position: absolute;
                        padding: 20px;
                        font-size: 14px;
                        background-color: @color-custom_title;
                        color: @color-custom_white;
                        border: 1px solid rgba(210, 210, 210, .175);
                        box-shadow: none;
                        .smooth-hover(all .3s ease);


                        &::placeholder {
                            color: @color-custom_subtitle;
                        }
                    }
                }
            }
        }

        .action.search {
            display: none;
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }

        input {
            font-size: 16px;
            left: -300%;
            margin: 15px 0;
            position: absolute;
        }

        .nested {
            display: none;
        }
    }
}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    &.active {
        + .control {
            input {
                width: 50%;
                left: 50%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    &.active {
        + .control {
            input {
                width: 20%;
                left: 75%;
            }
        }
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    &.active {
        + .control {
            input {
                width: 20%;
                left: 75%;
            }
        }
    }
}
