//Common
& when (@media-common = true) {
    .footer-copyright{
        border-top: 1px solid @color-custom_border;
        padding: 50px 0 0 0;

        &__content{
            &_links{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                ul{
                    padding: 0;

                    li{
                        display: inline;
                        margin: 0 20px 0 20px;

                        a{
                            color: @color-custom_subtitle;
                            text-decoration: none;
                            font-size: 12px;
                            text-transform: uppercase;

                            &:hover{
                                color: @color-custom_title;
                            }
                        }
                    }
                }
            }

            &_social{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                p{
                    margin-top: -2rem;
                    color: @color-custom_subtitle;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                ul{
                    padding: 0;
                    margin-top: 1rem;
                    margin-bottom: 2rem;


                    li{
                        display: inline;
                        margin: 0 20px 0 20px;

                        a{
                            color: @color-custom_subtitle;
                            text-decoration: none;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .footer-copyright{
        &__content{

            &_links{
                .list{
                    &-item{
                        margin: 0 0 0 15px;
                    }
                }
            }

            .footer-copyright__content_social{
                justify-content: center;

                .list{
                    &-item{
                        display: inline;
                        margin: 0 0 0 10px;
                    }
                }
            }

        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .footer-copyright {
        &__content {
            &_links, &_social {
                .list {
                    &-item {
                        margin: 0 0 0 20px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .footer-copyright {
        &__content {
            &_links, &_social {
                .list {
                    &-item {
                        margin: 0 20px 0 20px;
                    }
                }
            }
        }
    }
}



