& when (@media-common = true) {
    .description-newsletter{
        h2{
            text-transform: uppercase;
            margin-bottom: 0;
            letter-spacing: 2px;
            line-height: 1.7;
        }

        p{
            color: @color-custom_subtitle;
        }
    }

    .block.newsletter{
        float: none;
        background: @color-custom_date;
        margin-bottom: 0;

        .content{
            .form{
                .newsletter{
                    margin: 0 5px 0 0;

                    .control{
                        input{
                            padding: 0 0 0 20px;
                            color: @color-custom_subtitle;
                            border: 1px solid @color-custom_border__input;

                            &:focus{
                                box-shadow: none;
                                border: 1px solid @color-custom_border__input;
                            }
                        }

                        &:before{
                            content: none;
                        }
                    }
                }

                .actions{
                    button{
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 1px;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    //Mobile
    .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
        .description-newsletter{
            width: 55%;
        }

        .block.newsletter{
            margin: 0 0 0 40px;

            .form.subscribe{
                display: flex;
                flex-direction: column;

                .field{
                    .control{
                        label{
                            display: flex;
                            justify-content: center;

                            input{
                                width: 60%;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
